<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud Comunitaria JEBCA</title>
    <%- include('parts/head') %>
</head>
<body class="container imagen-bg centrar">
    <div class="presentacion">
        <div>
              <h1>Salud</h1>
              <p class="titulo">Comunitaria</p>

              <p class="eslogan">"Juntos por una comunidad saludable: </p>
              <p class="eslogan">Cuidémonos, apoyémonos, ¡Vivamos mejor!"</p>
        </div>
        <div class="botones">
                <a href='/login'>
                    Iniciar Sesion
                </a>
                <a class="registro" href='/register'>
                    Registrarse
                </a>
        </div>
    </div>
    <%- include('parts/footer') %>
</body>
</html>