<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud Comunitaria JEBCA</title>
    <%- include('parts/head') %>
</head>
<body class="container">
<div class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col align-item-center text-center">
                <h1 class="h1_salud">SALUD</h1>
                <h1 class="h1_comunitaria">COMUNITARIA</h1>
                <h3 class="h3_texto">Juntos por una Comunidad Saludable</h3>
                <h3 class="h3_texto">Cuidemonos, Apoyemonos</h3>
                <h3 class="h3_texto">¡Vivamos Mejor!</h3>
                <br>
                <hr>
                <br>
                <a class="btn" href="/Login" target="_parent">Ingresar</a>
                <a class="btn" href="/Register" target="_parent">Registrar</a>
            </div>
            <div class="col text-center">
                <img src="doctor01.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>
    <%- include('parts/footer') %>
</body>
</html>