<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="fondo-bg">
    <Section class="contenedor centro">
        <div class="global-container">
            <div class="login-form">
                <h3>Inicia Sesion</h3>
                    <form>
                        <legend>Ingresa tus datos a continuacion</legend>
                        <div class="form-group">
                            <label class="label-lg" for="email">Correo Electronico</label>
                            <input 
                            id="email"
                            name="email"
                            type="email" 
                            class="input-lg"
                            placeholder="Tu correo electronico"
                            required 
                            >
                        </div>
                        <div class="form-group">
                            <label 
                                class="label-lg" 
                                for="contrase単a"
                            >
                                Contrase単a
                            </label>
                            <input 
                                type="password" 
                                class="input-lg" 
                                id="contrase単a"
                                required
                                placeholder="ingresa tu contrase単a"
                            >
                        </div>
                        <button 
                            type="submit" 
                            class="btn"
                        >
                            Iniciar Sesion
                        </button>
                        <div class="sign-up">
                            No tienes una cuenta? 
                            <a class="enlace-lg" href="/register">Crea una cuenta</a>
                        </div>
                    </form>
            </div>
        </div>
        </div>
    </Section>
</body>
</html>