<nav>
    <ul>
        <li>
            <a href="/Dashboard" target="_parent">Dash</a>
        </li>
        <li>
            <a href="/Dashboard" target="_parent">Dash</a>
        </li>
        <li>
            <a href="/" target="_parent">SALIR</a>
        </li>
    </ul>
</nav>